* {
  margin: 0;
}

html, body {
  height: 100%;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.container-shader {
  position: relative;
  width: 100%;
  height: 100vh;
}

.divider {
    width: inherit;
    height: 7px;
    background: #35A547;
}

@import 'partials/_header';
@import 'partials/_footer';
@import 'partials/_box';
@import 'partials/_content';
@import 'partials/_about';
@import 'partials/_team';
@import 'partials/_skills';
