.about {
    min-height: 100px;
    width: 100%;
    background: url('/images/team.jpg');
    position: relative;
    overflow: hidden;

    background-attachment : fixed;
    background-position   : top center;
    background-size       : cover;

    .about-text {
        width: 50%;
        font-size: 17px;
        overflow: hidden;
        padding: 15px;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
    @media (max-width: 800px) {
        .about-text {
            width: 100%;
        }
    }
}
