.team {
    min-height: 100px;
    width: 100%;
    font-size: 18px;
    font-weight: lighter !important;

    .member {
        padding: 20px;
        text-align: center;

        p {
            margin-top: 7px;
        }
    }

    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        transition: ease all 0.6s;

        &:hover {
            border-radius: 0;
        }
    }
}
