<footer class="site-footer">
    <div class="container">
        <div class="row">
            &copy XOR - 2015
            <div class="social">
                <i class="fa fa-linkedin-square fa-2x"></i>
                <i class="fa fa-google-plus-square fa-2x"></i>
                <i class="fa fa-facebook-official fa-2x"></i>
                <i class="fa fa-youtube-square fa-2x"></i>
            </div>
            <div class="attributes">
                <a href="http://www.freepik.com/free-photos-vectors/coffee">Coffee vector designed by Freepik</a>
            </div>
        </div>
    </div>
</footer>
